body {
  margin: 0;
}
#map {
  width: 100vw;
  height: 90vh;
}

#controls {
  height: 10vh;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

#loader {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  width: 50%;
  transform: translateY(calc(45vh - 50%));
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

#loader.is-active {
  opacity: 1;
  visibility: visible;
}



button {
  background: white;
  border-radius: .5em;
  text-transform: uppercase;
  padding: 1em 4em;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border: none;
  margin: 0 1em;
  cursor: pointer;
  outline: 0;
}

button:hover, button.is-active {
  background: #82a467;
  color: white;
}